html,body {
    background-color: #f2f2f2;
    background-image: url('../img/bg.png');
    background-position: center top;
    background-repeat: repeat-y;
    min-height: 100%;
}

/* card override */
.card {
    border: none;
    margin-top: 25px;
}

.topbar {
    background-image: url('../img/topbar-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 18vh;
}

.topbar-logo {
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
    display: block;
}

.content-wrapper {
    max-width: 800px;
}

.with-topcolor {
    border-top: 8px solid rgb(166, 209, 95);
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.card-deck > .card {
    max-width: 200px;
}

.order-disclaimer {
    font-size: .7rem;
}

.btn-submit {
    background-color: #335a69 !important;
    color: white !important;
    height: 50px;
    border-radius: 10px;
}

.btn-green,
.btn-green:hover,
.btn-green:active {
    color: #16b108!important;
    background-color: #16b108;
    border-color: #16b108;
    color:#FFFFFF;
    font-weight:600;
}

.btn-red,
.btn-red:hover,
.btn-red:active {
    color: #b31414!important;
    background-color: #b31414;
    border-color: #b31414;
    color:#FFFFFF;
    font-weight:600;
}

.btn-blue,
.btn-blue:hover,
.btn-blue:active {
    color: #2d53fd!important;
    background-color: #2d53fd;
    border-color: #2d53fd;
    color:#FFFFFF;
    font-weight:600;
}

.btn-aviso-pedidos-cargados{
    padding: 0;
    background-color:transparent!important;
    border-bottom: 2px solid!important;
}

.btn-aviso-pedidos-cargados:hover{
    text-shadow: 1px 0 1px #000000!important;
}

.btn-aviso-pedido-sin-bolson{
    padding: 0;
    font-size:20px!important;
    text-align:left;
    background-color:transparent!important;
    width:100%;
    text-transform: none;
}

#bAgregarBolson{
    margin-top:30px;
}

#bContinuarPedido{
    margin-top:30px;
}

.span-underline{
    border-bottom:2px solid;
}

.span-blue{
    color:#2d53fd;
}

.span-green{
    color:#16b108;
}

.btn-aviso-pedido-sin-bolson:hover{
    text-shadow: 1px 0 1px #000000!important;
}

p.input-error {
    color: red;
    font-size: 1rem;
}
/* overrides for improve responsive experience */
.bmd-form-group, .bmd-form-group label {
    font-size: 0.7rem;
}

/* selectric override to make it looks like material */
.selectric {
    background: #fff;
    border: none;
    border-bottom: 1px solid #6c757d;
    margin-top: 20px;
}

.selectric b.button {
    background: #fff;
}

.selectric .label {
    white-space: normal;
    overflow: hidden;
    line-height: 20px;
    height: auto;
    min-height: 38px;
}

.pre-form-title {
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 2.2rem;
    margin: 8px auto;
}

.howto-container {
    padding-top: 100px;
}

.howto-title {
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 2.2rem;
    margin: 8px auto;
}

.howto-divisor {
    background-image: url('../img/single-divisor.png');
    background-repeat: no-repeat;
    background-position: center;
    min-width: 100%;
    height: 10px;
    content: '';
    margin-bottom: 30px;
}

.howto-divisor-vertical {
    background-image: url('../img/vertical-divisor.png');
    background-repeat: no-repeat;
    background-position: center;
    min-width: 100%;
    height: 58px;
    content: '';
    margin: 60px auto;
}

.howto-text {
    color: #5c5f60;
    text-align: center;
}

.methods-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 50px;
}

.method img {
    cursor: pointer;
}

@media (max-width: 768px) {
    .methods-container {
        display: block;
        margin: 0 auto;
        width: 100%;
    }
    
    .method {
        text-align: center;
        margin: 0 auto;
        margin-bottom: 10px;
    }
}

.sucursal-form-wrapper,
.delivery-form-wrapper {
    display: none;
}

.change-form-wrapper {
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 40px;
}

.change-form-wrapper a {
    text-decoration: none !important;
}

.deliver-details-title {
    padding-top: 20px;
}

.deliver-det-item {
    margin-bottom: 5px;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 2.5rem;
}


footer.default-footer {
    width: 100%;
    background-color: #9ace6f;
    color: #fff;
    padding: 10px 0px;
    /*position: absolute;
    bottom: 0;*/
	position: relative;
    height: 2.5rem;
}

.footer-container {
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 0.8rem;
}

.footer-social-img {
    max-width: 15px;
}

.footer-hseparator {
    display: inline-block;
    min-width: 10px;
    content: '';
}

.extra-product-card{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    min-height: 445px;
    margin-top:25px;
    font-size: .875rem;
    font-weight: 400;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.12);
    border-radius: .125rem;

    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.extra-product-card h5{
    font-size: 1.2rem;
    padding-left:5px;
    padding-right:5px;
    padding-top:15px;
    min-height:82px;
}

.extra-product-titulo-tarjeta,.extra-product-titulo-tarjeta:hover,.extra-product-titulo-tarjeta:focus,.extra-product-titulo-tarjeta:visited,.extra-product-titulo-tarjeta:active{
    color:rgba(0,0,0,.54)!important;
}
.extra-product-price,.extra-product-price:hover,.extra-product-price:focus,.extra-product-price:visited,.extra-product-price:active{
    color:rgba(0,0,0,.54)!important;
    font-weight:900;
}

.checkbox-price{
    padding-left:5px;
}

.loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: visible;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display:none;
  }
  
  /* Transparent Overlay */
  .loading:before {
    content: '';
    display: inline-block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    color:red;
  }
  

.loader {
    margin: 0 0;
    font-size: 10px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    -webkit-animation: load5 1.1s infinite ease;
    animation: load5 1.1s infinite ease;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
  }
  @-webkit-keyframes load5 {
    0%,
    100% {
      box-shadow: 0em -2.6em 0em 0em #808080, 1.8em -1.8em 0 0em rgba(128,128,128, 0.2), 2.5em 0em 0 0em rgba(128,128,128, 0.2), 1.75em 1.75em 0 0em rgba(128,128,128, 0.2), 0em 2.5em 0 0em rgba(128,128,128, 0.2), -1.8em 1.8em 0 0em rgba(128,128,128, 0.2), -2.6em 0em 0 0em rgba(128,128,128, 0.5), -1.8em -1.8em 0 0em rgba(128,128,128, 0.7);
    }
    12.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(128,128,128, 0.7), 1.8em -1.8em 0 0em #808080, 2.5em 0em 0 0em rgba(128,128,128, 0.2), 1.75em 1.75em 0 0em rgba(128,128,128, 0.2), 0em 2.5em 0 0em rgba(128,128,128, 0.2), -1.8em 1.8em 0 0em rgba(128,128,128, 0.2), -2.6em 0em 0 0em rgba(128,128,128, 0.2), -1.8em -1.8em 0 0em rgba(128,128,128, 0.5);
    }
    25% {
      box-shadow: 0em -2.6em 0em 0em rgba(128,128,128, 0.5), 1.8em -1.8em 0 0em rgba(128,128,128, 0.7), 2.5em 0em 0 0em #808080, 1.75em 1.75em 0 0em rgba(128,128,128, 0.2), 0em 2.5em 0 0em rgba(128,128,128, 0.2), -1.8em 1.8em 0 0em rgba(128,128,128, 0.2), -2.6em 0em 0 0em rgba(128,128,128, 0.2), -1.8em -1.8em 0 0em rgba(128,128,128, 0.2);
    }
    37.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(128,128,128, 0.2), 1.8em -1.8em 0 0em rgba(128,128,128, 0.5), 2.5em 0em 0 0em rgba(128,128,128, 0.7), 1.75em 1.75em 0 0em #808080, 0em 2.5em 0 0em rgba(128,128,128, 0.2), -1.8em 1.8em 0 0em rgba(128,128,128, 0.2), -2.6em 0em 0 0em rgba(128,128,128, 0.2), -1.8em -1.8em 0 0em rgba(128,128,128, 0.2);
    }
    50% {
      box-shadow: 0em -2.6em 0em 0em rgba(128,128,128, 0.2), 1.8em -1.8em 0 0em rgba(128,128,128, 0.2), 2.5em 0em 0 0em rgba(128,128,128, 0.5), 1.75em 1.75em 0 0em rgba(128,128,128, 0.7), 0em 2.5em 0 0em #808080, -1.8em 1.8em 0 0em rgba(128,128,128, 0.2), -2.6em 0em 0 0em rgba(128,128,128, 0.2), -1.8em -1.8em 0 0em rgba(128,128,128, 0.2);
    }
    62.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(128,128,128, 0.2), 1.8em -1.8em 0 0em rgba(128,128,128, 0.2), 2.5em 0em 0 0em rgba(128,128,128, 0.2), 1.75em 1.75em 0 0em rgba(128,128,128, 0.5), 0em 2.5em 0 0em rgba(128,128,128, 0.7), -1.8em 1.8em 0 0em #808080, -2.6em 0em 0 0em rgba(128,128,128, 0.2), -1.8em -1.8em 0 0em rgba(128,128,128, 0.2);
    }
    75% {
      box-shadow: 0em -2.6em 0em 0em rgba(128,128,128, 0.2), 1.8em -1.8em 0 0em rgba(128,128,128, 0.2), 2.5em 0em 0 0em rgba(128,128,128, 0.2), 1.75em 1.75em 0 0em rgba(128,128,128, 0.2), 0em 2.5em 0 0em rgba(128,128,128, 0.5), -1.8em 1.8em 0 0em rgba(128,128,128, 0.7), -2.6em 0em 0 0em #808080, -1.8em -1.8em 0 0em rgba(128,128,128, 0.2);
    }
    87.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(128,128,128, 0.2), 1.8em -1.8em 0 0em rgba(128,128,128, 0.2), 2.5em 0em 0 0em rgba(128,128,128, 0.2), 1.75em 1.75em 0 0em rgba(128,128,128, 0.2), 0em 2.5em 0 0em rgba(128,128,128, 0.2), -1.8em 1.8em 0 0em rgba(128,128,128, 0.5), -2.6em 0em 0 0em rgba(128,128,128, 0.7), -1.8em -1.8em 0 0em #808080;
    }
  }
  @keyframes load5 {
    0%,
    100% {
      box-shadow: 0em -2.6em 0em 0em #808080, 1.8em -1.8em 0 0em rgba(128,128,128, 0.2), 2.5em 0em 0 0em rgba(128,128,128, 0.2), 1.75em 1.75em 0 0em rgba(128,128,128, 0.2), 0em 2.5em 0 0em rgba(128,128,128, 0.2), -1.8em 1.8em 0 0em rgba(128,128,128, 0.2), -2.6em 0em 0 0em rgba(128,128,128, 0.5), -1.8em -1.8em 0 0em rgba(128,128,128, 0.7);
    }
    12.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(128,128,128, 0.7), 1.8em -1.8em 0 0em #808080, 2.5em 0em 0 0em rgba(128,128,128, 0.2), 1.75em 1.75em 0 0em rgba(128,128,128, 0.2), 0em 2.5em 0 0em rgba(128,128,128, 0.2), -1.8em 1.8em 0 0em rgba(128,128,128, 0.2), -2.6em 0em 0 0em rgba(128,128,128, 0.2), -1.8em -1.8em 0 0em rgba(128,128,128, 0.5);
    }
    25% {
      box-shadow: 0em -2.6em 0em 0em rgba(128,128,128, 0.5), 1.8em -1.8em 0 0em rgba(128,128,128, 0.7), 2.5em 0em 0 0em #808080, 1.75em 1.75em 0 0em rgba(128,128,128, 0.2), 0em 2.5em 0 0em rgba(128,128,128, 0.2), -1.8em 1.8em 0 0em rgba(128,128,128, 0.2), -2.6em 0em 0 0em rgba(128,128,128, 0.2), -1.8em -1.8em 0 0em rgba(128,128,128, 0.2);
    }
    37.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(128,128,128, 0.2), 1.8em -1.8em 0 0em rgba(128,128,128, 0.5), 2.5em 0em 0 0em rgba(128,128,128, 0.7), 1.75em 1.75em 0 0em #808080, 0em 2.5em 0 0em rgba(128,128,128, 0.2), -1.8em 1.8em 0 0em rgba(128,128,128, 0.2), -2.6em 0em 0 0em rgba(128,128,128, 0.2), -1.8em -1.8em 0 0em rgba(128,128,128, 0.2);
    }
    50% {
      box-shadow: 0em -2.6em 0em 0em rgba(128,128,128, 0.2), 1.8em -1.8em 0 0em rgba(128,128,128, 0.2), 2.5em 0em 0 0em rgba(128,128,128, 0.5), 1.75em 1.75em 0 0em rgba(128,128,128, 0.7), 0em 2.5em 0 0em #808080, -1.8em 1.8em 0 0em rgba(128,128,128, 0.2), -2.6em 0em 0 0em rgba(128,128,128, 0.2), -1.8em -1.8em 0 0em rgba(128,128,128, 0.2);
    }
    62.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(128,128,128, 0.2), 1.8em -1.8em 0 0em rgba(128,128,128, 0.2), 2.5em 0em 0 0em rgba(128,128,128, 0.2), 1.75em 1.75em 0 0em rgba(128,128,128, 0.5), 0em 2.5em 0 0em rgba(128,128,128, 0.7), -1.8em 1.8em 0 0em #808080, -2.6em 0em 0 0em rgba(128,128,128, 0.2), -1.8em -1.8em 0 0em rgba(128,128,128, 0.2);
    }
    75% {
      box-shadow: 0em -2.6em 0em 0em rgba(128,128,128, 0.2), 1.8em -1.8em 0 0em rgba(128,128,128, 0.2), 2.5em 0em 0 0em rgba(128,128,128, 0.2), 1.75em 1.75em 0 0em rgba(128,128,128, 0.2), 0em 2.5em 0 0em rgba(128,128,128, 0.5), -1.8em 1.8em 0 0em rgba(128,128,128, 0.7), -2.6em 0em 0 0em #808080, -1.8em -1.8em 0 0em rgba(128,128,128, 0.2);
    }
    87.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(128,128,128, 0.2), 1.8em -1.8em 0 0em rgba(128,128,128, 0.2), 2.5em 0em 0 0em rgba(128,128,128, 0.2), 1.75em 1.75em 0 0em rgba(128,128,128, 0.2), 0em 2.5em 0 0em rgba(128,128,128, 0.2), -1.8em 1.8em 0 0em rgba(128,128,128, 0.5), -2.6em 0em 0 0em rgba(128,128,128, 0.7), -1.8em -1.8em 0 0em #808080;
    }
  }


.rowAvisoPedidosCargados{
    padding-bottom:10px;
}

.rowAvisoPedidoDeExtrasSinBolson{
    padding-top:20px;
}

.boxed{
    text-align:center;
}

.boxed label {
    display: inline-block;
    min-width: 40px;
    padding: 10px;
    border: solid 2px #ccc;
    transition: all 0.1s;
    text-align: center;
}

.boxed input[type="radio"] {
    display: none;
}

.boxed input[type="radio"]:checked + label {
    border: solid 2px #4caf50;
    background-color: #4caf50;
    color:#FFFFFF;
}

.lTotalPedido{
    font-size:20px;
}

#hMontoMinimoPedidoExtra{
    font-size:12px!important;
}

.modal-header-modalMessage{
    padding: 24px 0px 0!important;
    border-bottom: 1px solid!important;
    margin: 10px 24px 24px!important;
}

.modal-dialog.modal-imagenBolson{
    max-width:800px!important;
}

.flex-wrapper{
    display: flex;
    flex-flow: row wrap;
}

.flex-wrapper > * {
    flex: 1 100%;
}
 
.form-dia-entrega {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

@media (max-width: 500px){
    @supports (-webkit-touch-callout: none) {
        .checkbox label input[type=checkbox]:checked+.checkbox-decorator .check, label.checkbox-inline input[type=checkbox]:checked+.checkbox-decorator .check{
            color: #000000;
            background-color: #009688;
            appearance: none!important;
            -webkit-appearance: none!important;
            -moz-appearance: none!important;
        }
    }
    .btn-aviso-pedidos-cargados{
        padding: 0;
        background-color:transparent!important;
        border-bottom:0px!important;
        text-decoration: underline 2px!important;
        padding-bottom: 10px;
    }

    .modal-dialog.modal-imagenBolson{
        max-width:420px!important;
    }

    #bContinuarPedido{
        margin-top:10px;
    }
        
    #modalImagenBolsonBody h1{
        margin-top:30px;
    }
}
